$tablet-width: 768px;
$desktop-width: 1600px;

$font-family-primary: 'Neucha', cursive;
$font-family-secondary: 'Steppe', sans-serif;
$font-size-base: 18px;
$main-text: #ffffff;

$main-color: #278d9f;
