.cards {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.cards__list {
  // display: grid;
  // grid-gap: 20px;
  // grid-template-columns: repeat(auto-fit, minmax(284px, auto));

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (max-width: 1277px) {
    column-gap: 50px;
    padding: 0 45px;
  }

  @media (max-width: 1024px) {
    padding: 0;
  }

  @media (max-width: 768px) {
    padding: 0 45px;
  }
}
