.filters {
  width: 30%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);

  @media (max-width: 1530px) {
    width: 30%;
  }

  @media (max-width: 1440px) {
    width: 40%;
    padding: 10px 90px;
  }

  @media (max-width: 1250px) {
    width: 40%;
    padding: 10px;
  }

  @media (max-width: 968px) {
    width: 49%;
  }
}

.filters__title {
  height: 60px;
  margin: 0;

  font-size: 20px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
}

.shape-form,
.color-form,
.size-form,
.fav-form {
  margin: 0;
  padding: 0;

  border: 0;

  .form__inner-wrapper {
    display: flex;
    align-items: center;
  }
}

.shape-form__list,
.color-form__list,
.size-form__list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.shape-form__label {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  margin: 10px 7px;

  border: 0;
  outline: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: invert(20%);
  }

  &--ball {
    background-image: url('../assets/svg/ball.svg');
    margin-left: 20px;
  }

  &--bell {
    background-image: url('../assets/svg/bell.svg');
  }

  &--cone {
    background-image: url('../assets/svg/cone.svg');
  }

  &--snowflake {
    background-image: url('../assets/svg/snowflake.svg');
  }

  &--figurine {
    background-image: url('../assets/svg/figurine.svg');
  }
}

.shape-form__input:focus + label {
  filter: invert(20%);
}

.shape-form__input:checked + label {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.color-form__label {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  backdrop-filter: blur(6px);
  border: 1px solid $main-color;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    border-color: #cccccc;
  }

  &--white {
    background-color: #ffffff;
  }

  &--yellow {
    background-color: #fdd700;
  }

  &--red {
    background-color: #fd0000;
  }

  &--blue {
    background-color: #2199eb;
  }

  &--green {
    background-color: #08aa05;
  }
}

.color-form__input:focus + label {
  border-color: #cccccc;
}

.color-form__input:checked + label::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.color-form__input:checked + .color-form__label--white::after {
  border-color: #666;
}

.size-form__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  margin: 5px 5px;

  border: 0;
  outline: 0;
  background-image: url('../assets/svg/ball.svg');
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: invert(20%);
  }

  &--large {
    margin-left: 20px;
  }

  &--medium {
    background-size: 40px 40px;
  }

  &--small {
    background-size: 32px 32px;
    margin-left: 0;
  }
}

.size-form__input:focus + label {
  filter: invert(20%);
}

.size-form__input:checked + label {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.fav-form__label {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  backdrop-filter: blur(6px);
  border: 1px solid $main-color;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: $main-color;
  }
}

.fav-form__input:focus + .fav-form__label {
  background-color: $main-color;
}

.fav-form__input:checked + .fav-form__label {
  background-color: $main-color;
  border-color: $main-color;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
  }
}
